@mixin setup_size($width, $height){
    width: $width;
    height: $height;
}

@mixin flex_center($dir){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}

@mixin reset_text(){
    color : black;
    text-decoration: none;
}

@mixin center_text(){
    position: absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%,-50%);
}

@mixin create_shadow($x, $y, $blur, $opacity){
    box-shadow: $x $y $blur rgba(50,50,50,$opacity);
}

@mixin create_innerShadow($x, $y, $blur, $opacity){
    box-shadow: inset $x $y $blur rgba(50,50,50,$opacity);
}