$p_color1: #f6fafb;
$p_color1b: #d1d1d1;
$p_color2: #74afbe;
$p_color3: #263336;
$p_color4: #fdeff4;

$a_red: #e24f4f;
$a_blue: #4fbee2;

$font-nunito: "Nunito", san-serif;
$font-dancingScript: "Dancing Script", cursive;
$font-josefinSans: "Josefin Sans", san-serif;
$font-anton: "Anton", sans-serif;
