<<<<<<< HEAD
$p_color1: #f6fafb;
$p_color1b: #d1d1d1;
$p_color2: #74afbe;
$p_color3: #263336;
$p_color4: #fdeff4;

$a_red: #e24f4f;
$a_blue: #4fbee2;
=======
$p_color1: #F6FAFB;
$p_color1b: #d1d1d1;
$p_color2: #74AFBE;
$p_color3: #263336;
$p_color4: #FDEFF4;

$a_red : #e24f4f;
$a_blue : #4fbee2;
>>>>>>> 34b370ec0b5ffa8f625358bc6a9de90d6d5cd7c3
