$font-nunito: "Nunito", san-serif;
$font-dancingScript: "Dancing Script", cursive;
$font-josefinSans: "Josefin Sans", san-serif;
$font-anton: "Anton", sans-serif;

$color-black: #263336;
$color-blue: #74afbe;
$color-white: #f6fafb;
$color-pink: #fdeff4;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-image: url(../img/oxana-v-qoAIlAmLJBU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-items: center;
  align-content: start;
  font-family: $font-josefinSans;
}
%inputBase {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #f4e04d;
  border-radius: 4px;
  color: #262626;
  border: none;
}

// input style
input[type="text"] {
  grid-area: text-input;
  text-align: center;
  @extend %inputBase;
}
input[type="time"] {
  grid-area: time;
  min-height: 2rem;
  text-transform: uppercase;
  @extend %inputBase;
}
button {
  &[type="submit"] {
    grid-area: submit;
    cursor: pointer;
    @extend %inputBase;
    transform: translateY(0.7em);
    justify-self: center;
    border-radius: 50%;
    width: 4.4em;
    height: 4.4em;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  &.screenshot {
    border: none;
    justify-self: center;
    padding: 1em;
    border-radius: 10px;
    background-color: #f4e04d;
    color: darkslategray;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
}

textarea {
  grid-area: notes;
  min-height: 5.5rem;
  text-align: center;
  @extend %inputBase;
}

.itinerary-list {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 2em;
  padding: 1em 0.3em;
  min-height: 100vh;
  width: 95vw;
  h1 {
    text-align: center;
    color: #fff591;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .main-itinerary {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    background: #20405198;
    background-position: center;
    background-size: cover;
    height: 35vh;
    display: grid;
    grid-template-rows: 8vh 1fr;
    align-items: center;
    padding: 0 0.5em;
    border-radius: 4px;
    position: relative;
  }
}

.itinerary,
.itinerary-edit {
  display: grid;
  grid-template-areas:
    "time text-input"
    "notes notes"
    "submit submit";
  grid-gap: 0.3em;
}

ul {
  display: grid;
  grid-auto-rows: 4em;
  grid-gap: 0.3em;
  padding-top: 0.3em;
  li {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.7em;
  }
}

li {
  .items-data {
    position: relative;
    .delete {
      position: absolute;
      font-size: 0.7rem;
      top: 3px;
      right: 4px;
      cursor: pointer;
    }
    .edit {
      position: absolute;
      font-size: 0.7rem;
      top: 20px;
      right: 4px;
      cursor: pointer;
    }
  }
  .items-date {
    display: flex;
    align-items: center;
    h3 {
      font-size: 0.95rem;
    }
  }
  & > * {
    background-color: #262626;
    color: aliceblue;
    padding: 0.3em 0.3em;
  }
}

//=========================<MODAL>===============================
.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  &Inner {
    border-radius: 15px;
    padding: 1em;
    padding-top: 6em;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
    position: relative;
    transform: translateY(-100vh);
    transition: all 0.5s;
    min-height: calc(90vh - 100px);
    min-width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f0f0f0;
    position: relative;
    &::before {
      position: absolute;
      border-radius: 15px;
      content: "";
      display: block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $color-black;
      clip-path: ellipse(99% 32% at 40% 97%);
      z-index: -100;
    }
    h1 + .itinerary-edit {
      margin-top: 1em;
    }
    h1 {
      font-family: $font-anton;
      text-transform: uppercase;
      color: $color-black;
      position: absolute;
      top: 1.2em;
    }
    .itinerary-edit {
      position: relative;
      grid-gap: 1.2em;
      & > * {
        background-color: $color-blue;
        font-family: $font-anton;
      }
      #item {
        text-align: left;
        padding: 0.5em;
      }
      #time {
        padding: 0.8em;
        min-height: 3rem;
      }
      textarea {
        min-height: 11rem;
        padding: 0.5em;
        text-align: left;
        &::placeholder {
          text-align: left;
          color: $color-black;
        }
      }
      button {
        border-radius: 10px;
        display: inline-block;
        box-shadow: none;
        width: 35%;
        border-bottom: darken($color-blue, $amount: 30%) 4px solid;
        position: relative;
        overflow: hidden;
        font-family: $font-anton;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.876rem;
        // transform: translateY(200%);
        &::before {
          border-radius: 10px;
          display: inline-block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #26333670;
          transform: translateY(-100%);
          transition: transform 0.3s;
        }
      }
    }
    &Close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2rem;
      cursor: pointer;
    }
    h3 {
      text-align: center;
    }
  }
  &.open {
    opacity: 1;
    pointer-events: all;
    .modalInner {
      transform: translateY(0);
    }
  }
}

.itinerary-edit {
  button {
    &:hover {
      &::before {
        transform: translateY(0);
      }
    }
  }
}
