@import './variable';
@import './mixin';

.map{
    @include setup_size(100%, 80%);
    padding : 10% 0;
}

#world-map{
    @include flex_center(column);
    @include setup_size(100%,100%);
    position: absolute;
    width : 100%;
    z-index: 0;
}

.info{
    @include setup_size(100%,100%);
    @include flex_center(row);
    transform: translateY(-100%);
    transition: all 1s;
    position: absolute;
    z-index: 5;
    top : 0;
    left : 0;
}

.infoDrop{
    @include setup_size(100vw,100vh);
    min-width: 100vw;
    min-height: 100vh;
    display: block;
    background-color: black;
    z-index: 1;
    filter : opacity(0);
    transition : all 1s;
}

.infoWindow{
    @include flex_center(column);
    width : 75vw;
    min-height: 10vh;
    padding : 5%;
    position: absolute; 
    border-radius: 16px;
    background-color: $p_color1;
    z-index: 2;
    transition: transform 1s;
    .cross{
        position: absolute;
        top : 0px;
        right : 0px;
        color : red;
        font-size: 16px;
        font-weight: 1000;
        &:hover{
            cursor: pointer;
        }
    }
    .info-container{
        @include setup_size(100%,15vh);
        position: relative;
        .country{
            @include setup_size(100%,25%);
            font-size : 16px;
            font-weight: 1000;
            font-family: Argesta;
        }
        .failed{
            height: 100%;
            color : $a_red;
            font-family: Argesta;
        }
        .button-container{
            @include setup_size(100%,75%);
        }
        .button{
            @include setup_size(48%, 100%);
            @include flex_center(column);
            position: relative;
            margin : 0% 1%;
            float : left;
            img{
                @include setup_size(100%,100%);
                object-fit: cover;
                overflow: hidden;
                filter : brightness(0.5);
            }
            .text{
                padding : 10%;
                @include setup_size(100%,50%);
                @include flex_center(row);
                position: absolute;
                color : white;
                text-align: center;
            }
            &:hover{
                img{
                    filter : brightness(0.8);
                }
            }
        }
        .active{
            img{
                filter: brightness(0.8);
            }
        }
    }

    .blog-container{
        @include setup_size(100%, 60vh);
        padding-top : 1vh;
        display : block;
        animation-name: completeBlog;
        animation-duration: 1s;
        .spotlight,.gallery{
            box-sizing: border-box;
        }
        .title{
            @include setup_size(100%,10%);
            @include flex_center(row);
            font-size : 14px;
            font-weight: 1000;
            text-align: center;
        }
        .spotlight{
            @include setup_size(100%,70%);
            border-radius: 4px;
            .spot-img{
                @include setup_size(100%,60%);
                border-radius: 4px;
                background-color: $p_color1;
                overflow: hidden;
                img{
                    @include setup_size(100%,100%);
                    object-fit: cover;
                }
            }
            .spot-text{
                @include setup_size(100%,40%);
                font-size : 12px;
                background-color: #f3f3f3;
                padding : 10px;
                overflow : hidden;
            }
        }
        .gallery{
            height: 20%;
            width: auto;
            padding : 5px 0;
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            .card{
                @include setup_size(35%,100%);
                display: inline-block; 
                white-space: nowrap;
                margin : 1%;
                position: relative;
                .card-img{
                    @include setup_size(100%,100%);
                    overflow: hidden;
                    border-radius: 4px;
                    filter : brightness(0.5);
                    img{
                        width : 100%;
                        height : 100%;
                        object-fit: cover;
                    }
                }
                .card-title{
                    color : white;
                    text-align: center;
                    @include center_text();
                    white-space: normal;
                }
                &:hover{
                    cursor: pointer;
                    .card-img{
                        filter: brightness(0.8);
                    }
                }
            }
            .active{
                img{
                    filter: brightness(0.8);
                }
            }
        }
    }
}

.open{
    transform: translateY(0);
    .infoDrop{
        filter : opacity(0.5);
    }
}

@keyframes completeBlog{
    0%{
        height : 0vh;
        opacity: 0;
    }
    50%{
        height : 60vh; opacity: 0;}
    100%{
        opacity : 1;
    }
}

@media only screen and (min-width : 1080px) {
    .infoWindow{
        .info-container{
            .country{
                height : 30%;
                font-size: 28px;
            }
            .button-container{
                height: 70%;
            }
        }
        .blog-container{
            .title{
                font-size: 20px;
            }
            .spotlight{
                @include setup_size(100%,60%);
                @include flex_center(row);
                .spot-img,.spot-text{
                    @include setup_size(50%,100%);
                }
                .spot-text{
                    font-size: 20px;
                }
            }
            .gallery{
                @include setup_size(100%,30%);
                padding : 15px 0;
                .card{
                    @include setup_size(25%, 100%);
                }
            }
        }
    }
}