.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 0.5rem;
}

.map {
  width: 100%;
  height: 80%;
  padding: 10% 0;
}

#world-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 60%;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.infoDrop {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  background-color: black;
  z-index: 1;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.infoWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75vw;
  min-height: 10vh;
  padding: 5%;
  position: absolute;
  border-radius: 16px;
  background-color: #F6FAFB;
  z-index: 2;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.infoWindow .cross {
  position: absolute;
  top: 0px;
  right: 0px;
  color: red;
  font-size: 16px;
  font-weight: 1000;
}

.infoWindow .cross:hover {
  cursor: pointer;
}

.infoWindow .info-container {
  width: 100%;
  height: 15vh;
  position: relative;
}

.infoWindow .info-container .country {
  width: 100%;
  height: 25%;
  font-size: 16px;
  font-weight: 1000;
  font-family: Argesta;
}

.infoWindow .info-container .failed {
  height: 100%;
  color: #e24f4f;
  font-family: Argesta;
}

.infoWindow .info-container .button-container {
  width: 100%;
  height: 75%;
}

.infoWindow .info-container .button {
  width: 48%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0% 1%;
  float: left;
}

.infoWindow .info-container .button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.infoWindow .info-container .button .text {
  padding: 10%;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  color: white;
  text-align: center;
}

.infoWindow .info-container .button:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.infoWindow .info-container .active img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.infoWindow .blog-container {
  width: 100%;
  height: 60vh;
  padding-top: 1vh;
  display: block;
  -webkit-animation-name: completeBlog;
          animation-name: completeBlog;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.infoWindow .blog-container .spotlight, .infoWindow .blog-container .gallery {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.infoWindow .blog-container .title {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  font-weight: 1000;
  text-align: center;
}

.infoWindow .blog-container .spotlight {
  width: 100%;
  height: 70%;
  border-radius: 4px;
}

.infoWindow .blog-container .spotlight .spot-img {
  width: 100%;
  height: 60%;
  border-radius: 4px;
  background-color: #F6FAFB;
  overflow: hidden;
}

.infoWindow .blog-container .spotlight .spot-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoWindow .blog-container .spotlight .spot-text {
  width: 100%;
  height: 40%;
  font-size: 12px;
  background-color: #f3f3f3;
  padding: 10px;
  overflow: hidden;
}

.infoWindow .blog-container .gallery {
  height: 20%;
  width: auto;
  padding: 5px 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.infoWindow .blog-container .gallery .card {
  width: 35%;
  height: 100%;
  display: inline-block;
  white-space: nowrap;
  margin: 1%;
  position: relative;
}

.infoWindow .blog-container .gallery .card .card-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.infoWindow .blog-container .gallery .card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoWindow .blog-container .gallery .card .card-title {
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: normal;
}

.infoWindow .blog-container .gallery .card:hover {
  cursor: pointer;
}

.infoWindow .blog-container .gallery .card:hover .card-img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.infoWindow .blog-container .gallery .active img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.open .infoDrop {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.footer {
  width: 100%;
  height: 10%;
}

.footer a {
  color: black;
  text-decoration: none;
}

@-webkit-keyframes completeBlog {
  0% {
    height: 0vh;
    opacity: 0;
  }
  50% {
    height: 60vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes completeBlog {
  0% {
    height: 0vh;
    opacity: 0;
  }
  50% {
    height: 60vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1080px) {
  .infoWindow .info-container .country {
    height: 30%;
    font-size: 28px;
  }
  .infoWindow .info-container .button-container {
    height: 70%;
  }
  .infoWindow .blog-container .title {
    font-size: 20px;
  }
  .infoWindow .blog-container .spotlight {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .infoWindow .blog-container .spotlight .spot-img, .infoWindow .blog-container .spotlight .spot-text {
    width: 50%;
    height: 100%;
  }
  .infoWindow .blog-container .spotlight .spot-text {
    font-size: 20px;
  }
  .infoWindow .blog-container .gallery {
    width: 100%;
    height: 30%;
    padding: 15px 0;
  }
  .infoWindow .blog-container .gallery .card {
    width: 25%;
    height: 100%;
  }
}
/*# sourceMappingURL=map.css.map */