.header, .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 0.5rem;
}

.map {
  width: 100%;
  height: 80%;
  padding: 10% 0;
}

#world-map {
  z-index: 0;
}

.infoWindow, .blogWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  position: absolute;
  border-radius: 16px;
  background-color: #BBDED6;
}

.infoWindow .cross, .blogWindow .cross {
  position: absolute;
  top: 0px;
  right: 0px;
  color: red;
}

.infoWindow {
  width: 60vw;
  height: 25vh;
  z-index: 1;
}

.infoWindow .info-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.infoWindow .country {
  width: 100%;
  height: 30%;
  font-weight: 1000;
}

.infoWindow .button-container {
  width: 100%;
  height: 70%;
}

.infoWindow .button {
  width: 48%;
  height: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1%;
  float: left;
}

.blogWindow {
  width: 80vw;
  height: 80vh;
  z-index: 2;
}

.blogWindow img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.blogWindow .blog-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
}

.blogWindow .title, .blogWindow .spotlight, .blogWindow .gallery {
  padding: 5% 0;
}

.blogWindow .title {
  width: 100%;
  height: 10%;
}

.blogWindow .spotlight {
  width: 100%;
  height: 70%;
  background-color: #61C0BF;
}

.blogWindow .spotlight .spot-img {
  width: 100%;
  height: 60%;
  background-color: #4BBCF4;
  overflow: hidden;
}

.blogWindow .spotlight .spot-text {
  width: 100%;
  height: 40%;
  overflow: scroll;
}

.blogWindow .gallery {
  width: 100%;
  height: 20%;
}

.blogWindow .gallery .card {
  width: 50%;
  height: 100px;
  border-radius: 16px;
  position: relative;
}

.blogWindow .gallery .card .card-img {
  overflow: hidden;
  border-radius: 16px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.blogWindow .gallery .card .card-title {
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  width: 100%;
  height: 10%;
}

.footer a {
  color: black;
  text-decoration: none;
}
/*# sourceMappingURL=map.css.map */